@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d84b4b;
}

main {
    background-color: white;
    width: 500px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

header {
    text-align: center;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkred;
}

article {
    overflow: auto;
    margin-bottom: 20px;
}

img.lado {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}